@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.Post {
  $this: &;
  display: flex;
  align-items: flex-start;

  position: relative;
  transition: opacity 0.15s ease-in-out;

  + #{$this} {
    margin-top: rem(30);
  }

  &:hover{
    opacity: 0.8;
  }

  &__title{
    display: flex;
    align-items: flex-end;
    gap: rem(10);

  }

  &__media {
    flex: 0 0 rem(95);
    border-radius: rem(15);
    overflow: hidden;
    max-height: rem(95);
    object-fit: cover;

    margin-right: rem(30);
  }

  &__img {
    object-fit: cover;
    display: flex;
    width: 100% !important;
    height: rem(95);
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: rem(13)
  }
}
