@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.IconButton {
  $this: &;

  @include h3;
  max-width: max-content;

  display: flex;
  align-items: center;
  flex: 0 0 auto;

  padding: rem(10) rem(20);

  border-radius: rem(30);
  border: rem(1) solid transparent;

  background-color: var(--white);
  color: var(--black);

  transition: color 0.15s ease-in-out,
  stroke 0.15s ease-in-out,
  background-color 0.15s ease-in-out,
  opacity 0.15s ease-in-out;

  &:hover {
    cursor: pointer;
    opacity: 0.67;
  }

  &--disabled {
    pointer-events: none;
  }


  &--color {
    &_blue {
      background-color: var(--blue);
      color: var(--white);
    }
  }

  &--type{
    &_outline{
      background-color: var(--white);
      border-color: var(--blue);
      color: var(--blue)
    }
  }

  &--iconGap{
    &_default{
      gap: rem(20);
    }
    &_medium{
      gap: rem(25);
    }
    &_big{
      gap: rem(40);
    }
  }
}
