@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.Useful {
  &__items{
    display: flex;
    align-items: center;
    gap:rem(12);
    width: 100%;

    @include xxs {
      flex-direction: column;
    }
  }

  &__item{
    display: flex;
    object-fit: cover;
    flex: 1 1 50%;
    position: relative;
  }

  &__img{
    object-fit: cover;
    width: 100% !important;
    height: auto;
  }
}
