@import "@/src/styles/functions";
@import "@/src/styles/mixins";

.DoubleRoundImage {
  $this: &;
  display: flex;
  align-items: center;
  padding-left: rem(70);

  @include xs{
    padding-left: rem(45)
  }

  &__img{
    object-fit: cover;
    display: flex;
    width: 100%!important;
    height: auto;

    &-wrp{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: rem(200);
      margin-left: rem(-70);
      border-radius: 100%;
      border: rem(2) solid var(--white);
      background-color: var(--white);


      @include xs{
        max-width: rem(120);
        margin-left: rem(-45);
      }
    }
  }

  &--align{
    &_left{
      > :nth-child(1) {
        z-index: 1;
      }
    }
    &_right{
      > :nth-child(2) {
        z-index: 1;
      }
    }
  }



}
